/* CSS file for the Things page */

/* spinning wheel formatting done with the help of online tutorials at patreon.com/onlinetutorials and support from CS50's duck debugger*/
.wheel-container {
    position: relative;
    margin: 2em auto;
    /* to avoid for the wheel to get larger than the screen height of horizontally held phones */
    width: min(60%, calc(70vh + 0em)); /* if changed, also change width/font in media queries */
    aspect-ratio: 1 / 1; /* square aspect ratio */
    font-size: min(4vw, 6vh);
}

.wheel {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; /* for Safari 17.6 overflow issue ? */
    box-shadow: 0 0 0 5px #F2F2F2, 0 0 0 8px var(--primary-color);
    /* for smooth spinning effect */
    /* transition: transform 5s cubic-bezier(.17,.67,.83,.67); */
    transition: transform 3s ease-in-out;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background: #f6e7ba;
    /* transform-origin: %; */
    transform-origin: bottom right;
    transform: rotate(calc(60deg * var(--i)));
    clip-path: polygon(0 0, 71% 0, 100% 100%, 0 71%);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    cursor: pointer;
    user-select: none;
}

/* alternate segment colors */
.segment:nth-child(even) {
    background: #ddd;
}

.segment p {
    position: absolute;
    /* align text to the segments' center with writing direction outwards */
    top: 45%;
    left: 30%;
    right: 20%;
    transform: rotate(225deg);
    color: var(--primary-color);
    font-size: 0.9em;
    /* font-weight: bold; */
    /* text-shadow: 3px 5px 2px rgba(4,4,4,0.15); */
}

.spin-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    color:#F2F2F2;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}

/* arrow for spin button */
.spin-btn::before {
    content: '';
    position: absolute;
    top: -40%;
    width: 40%;
    height: 50%;
    background-color: var(--primary-color);
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
}

.footer {
    font-size: 0.75em;
}

.modal-content {
    background-color: #F2F2F2;
    color: var(--primary-color);
}

.modal-header {
    font-size: 1.2em !important;
    font-weight: 600 !important;
    border-bottom: 1.5px solid var(--primary-color);
}

.modal-body {
    font-size: 0.82em !important;
    line-height: 1.5em !important;   
}

.modal-img {
    width: 75%; /* 93%; */
    /* height: auto; */
    margin: 0 auto 1em auto;
}

.modal-footer {
    border-top: 1.5px solid var(--primary-color);
    padding: 0.2em 1em !important;
}

.btn {
    background-color: #888;
    color: #F2F2F2;
    border: none;
}

.btn:hover {
    background-color: var(--primary-color);
}

.btn:active {
    background-color: var(--primary-color) !important;
    transform: translateY(2px); /* click effect */
}

/* for mobile phone screen sizes */
@media only screen and (min-width: 400px) and (min-height: 768px) {
    .modal-body {
        font-size: 1.0em !important;
    }
    .modal-img {
        width: 93%;
    }
}

@media only screen and (min-width: 768px) {
    /* keep fix sizes of wheel and fonts for horizontal screen width >768px, but scale them with the vertical screen height of horizontally held phones for the wheel to fit the screen */
    .wheel-container {
        width: min(395px, 70vh);
        font-size: min(30.7px, 6vh);
    }
}
