/* CSS file for the Roots page */

.carousel {
    /* override bootstrap default margin */
    margin: 2em auto;
    /* to avoid for the images to get larger than the screen height of horizontally held phones */
    max-width: calc(100vh + 4em);
    object-fit: contain;
}

.carousel-control-prev {
    width: 5%;
    left: 5%;
    background-image: linear-gradient(to right, #a0a0a0, #f2f2f2);
}

.carousel-control-next {
    width: 5%;
    right: 5%;
    background-image: linear-gradient(to left, #a0a0a0, #f2f2f2);
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-color: #909090;
}

.carousel-indicators {
    position: relative;
    margin-top: 3%;
}

.carousel .carousel-indicators button {
    width: min(1vw, 1vh);
    height: min(1vw, 1vh);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    background: transparent;
}

.carousel .carousel-indicators .active {
    background-color: var(--primary-color);
}

.carousel-caption {
    display: inline-block;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%); /* center text horizontally irrespective of length */
    white-space: nowrap;
    width: fit-content;
    color: var(--primary-color);
    background: rgba(255,255,255,0.8);
    padding: 3px 8px;
    border-radius: 4px;
}

.carousel-caption h3 {
    font-size: min(2vw, 3vh);
    margin: 0;
}

.carousel-caption p {
    font-size: min(1.6vw, 2.4vh);
    margin: 0;
}


@media only screen and (min-width: 768px) {
    /* keep fix sizes of carousel, captions and buttons for horizontal screen width >768px, but scale them with the vertical screen height of horizontally held phones for the carousel to fit the screen */

    /* (768px - 2x38px - 2x16px) = 660px */
    .carousel {
        width: 660px;
    }

    .carousel-caption h3 {
        font-size: min(15.4px, 3vh);
    }

    .carousel-caption p {
        font-size: min(12.3px, 2.4vh);
    }

    .carousel .carousel-indicators button {
        width: min(7.7px, 1vh);
        height: min(7.7px, 1vh);
    }
}
