/* CSS file for the Career page */

.main-img {
    display: block;
    width: 100%;
    margin: 2em auto;
}

.list-container ol {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 2em 0;
}

.list-container a {
    color: var(--primary-color);
}

/* circled numbers */
.list-container li {
    list-style: none;
    text-indent: -25px; /* text indent to align with numbers */
}

.list-container li::before {
    padding-right: 5px; /* space between number and text */
}

.list-container li:nth-child(1)::before {
    content: ' ①';
}
.list-container li:nth-child(2)::before {
    content: ' ② ';
}
.list-container li:nth-child(3)::before {
    content: ' ③ ';
}
.list-container li:nth-child(4)::before {
    content: ' ④  ';
}
.list-container li:nth-child(5)::before {
    content: ' ⑤ ';
}
.list-container li:nth-child(6)::before {
    content: ' ⑥ ';
}
.list-container li:nth-child(7)::before {
    content: ' ⑦ ';
}
.list-container li:nth-child(8)::before {
    content: ' ⑧ ';
}


@media only screen and (min-width: 768px) {
    .main-img {
        /* keep fix siz */
        /* (768px - 2x38px - 2x16px) = 660px */
        width: 660px;
    }
}

/* for tablets in portrait mode and smaller devices */
@media only screen and (max-height: 768px) and (max-width: 1024px) {
    .list-container ol {
        font-size: 0.85em;
    }
}
